    html {
        position: relative;
        min-height: 100%;
    }
    
    body {
        /* Margin bottom by footer height */
        margin-bottom: 80px;
        /*        background-image: url("../grunge.png");
        */
        background-blend-mode: multiply;
    }
    
    .container {
        padding-bottom: 50px;
    }
    
    .icon {
        margin-top: 0px;
        max-width: 24px;
        color: darkgray !important;
    }
    
    .iconLink {
        padding-top: 14px !important;
        padding-bottom: 10px !important
    }
    
    .navLink {
        padding-bottom: 13px !important;
    }
    
    h1 {
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 35px;
        text-shadow: 2px 2px 8px black;
    }
    
    .topbanner h4 {
        text-shadow: 2px 2px 8px black;
    }
    /* --------------------------------------------------
/*      Main Content Division
-------------------------------------------------- */
    
    .mainContent {
        margin-top: 40px;
        /*        color: #ffffff;
        */
    }
    
    .topbanner {
        background-image: url("../longbanner.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: dimgrey;
        background-position: center;
        height: 300px;
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%) filter: blur(2px) contrast(200%);
        text-align: center;
        margin-top: -20px;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .topbanner h1 {
        padding-top: 120px;
        z-index: -10;
    }
    
    .mainContent h1 {
        font-family: Oxygen, sans-serif;
        font-weight: 700;
    }
    
    .mainContent h2 {
        font-family: Oxygen, sans-serif;
        font-weight: 400;
    }
    
    .mainContent a {
        text-decoration: none;
        font-weight: 300;
    }
    
    .mainContent h3 {
        font-family: Oxygen, sans-serif;
        font-weight: 300;
        color: #EB2625;
    }
    
    .mainContent p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
        font-size: 15px;
        color: #616680;
    }
    
    .mainContent h4 {
        font-family: Ubuntu, sans-serif;
    }
    
    .mainContent blockquote {
        /*        border-left: 5px solid #3853a4;*/
    }
    
    .mainContent .panel {
        color: black !important;
    }
    
    .mainContent .redButton {
        background-color: #EB2625;
        color: white;
        font-weight: 400;
        margin-bottom: 20px;
    }
    
    .mainContent .redButtonOutline {
        color: #EB2625;
        font-weight: 400;
        margin-bottom: 20px;
        border: 1px solid #EB2625;
    }
    
    .mainContent li {
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
        font-size: 15px;
        color: #616680;
    }
    /* --------------------------------------------------

    /* Call to Action Panel
-------------------------------------------------- */
    
    .callToAction {
        background-color: lightgray;
        height: 200px;
        position: relative;
        z-index: -1;
    }
    
    .callToActionContent {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .callToActionContent p {
        text-align: center;
        color: white;
        font-weight: 100;
        font-family: Open Sans, sans-serif;
        text-align: center;
    }
    
    .callToActionContent h1 {
        text-align: center;
        color: white;
        font-weight: 100;
        font-family: Open Sans, sans-serif;
        font-size: 40px;
    }
    /* Nav bar
-------------------------------------------------- */
    
    .navbar {
        position: relative;
        border-style: solid;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        border-bottom: 1px solid lightgray;
        border-radius: 0px;
        padding: 0px;
        padding-left: 0px;
        height: 70px;
        font-size: 12px;
        background-color: #ffffff;
    }
    
    .phoneNumber {
        margin-top: 25px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        color: #777;
        padding-right: 65px;
    }
    
    @media (max-width: 768px) {
        .phoneNumber {
            display: none;
        }
        
        .topbanner h1{
         margin-top: 0px;
            padding-top: 95px;
            font-size: 30px;
        }
        
        .topbanner h4{
            font-size: 16px;
            padding-top: 5px;
        }
    }
    
    .phoneNumberText {
        color: black;
    }
    
    .phoneNumberText:hover {
        color: black;
        text-decoration: none;
    }
    
    .navbar a {
        margin-top: 10px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        color: #777;
    }
    
    .navbar-toggle {
        border: 1px solid #EB2625;
    }
    
    .navbar-header .navbar-toggle .icon-bar {
        background-color: #EB2625;
    }
    
    .navbar-fixed-top {
        margin-bottom: 0px !important;
    }
    
    .navbar li:hover {
        color: #000;
    }
    
    .iconLink:hover,
    .navLink:hover {
        background-color: black !important;
        color: white;
    }
    
    .dropdown-menu {}
    
    .dropdown-menu li>a:hover {
        background-color: black !important;
        color: white;
    }
    
    .brandLogo {
        margin-top: -27px;
        /*        max-width: 200px;*/
        margin-left: 80px;
    }
    
    @media only screen and (max-width: 768px) {
        .navbar-collapse {
            background-color: #ffffff;
        }
        .brandLogo {
            margin-left: 0px !important;
        }
    }
    /* Sticky footer
-------------------------------------------------- */
    
    .footerDetail {
        margin-left: 20px;
        color: dimgray;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        font-weight: 100;
    }
    
    .footer a {
        color: #777;
    }
    
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 100px;
        line-height: 25px;
        /* Vertically center the text there */
        text-align: center;
        padding-top: 40px;
        background-color: #efefef;
        color: #555 !important;
        font-weight: 600;
        font-size: 12px;
    }